QTextEdit { border: 0px; }

QAbstractScrollArea[thumbnailList="true"] {
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 1px solid #999;
 }

QAbstractScrollArea[imageView="true"] {
    border: 0px;
}

QToolBar[imageView="true"] {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #cdcdcd, stop: 1 #ababab);
}
