[Desktop Entry]
GenericName=Optical Character Recognition
GenericName[ru]=Распознавание текстов
Name=Quneiform
Comment=Optical recognition programm
Comment[ru]=Программа распознавания текстов
Exec=quneiform %f
Icon=cuneiform_logo
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Graphics;Scanning;OCR;Qt;
StartupNotify=true
MimeType=application/x-quneiform;
